my $config = {
  debug => 0,
  general => {
    working_dir => '/var/IRR',
    user => 'irrpl',
    group => 'irrpl'
  },
  directories => {
    'prefix-lists' => 'Prefix-Lists',
    'run' => 'Run'
  },
  irr => {
    host => 'whois.radb.net',
  },
  logging => {
  },
  routers => {
    'router1' => [
      'AS-WOLCOMM',
      'AS37271',
    ],
    'router2' => [
      'AS-WOLCOMM',
      'AS37271',
    ],
  },
};
return $config;
